# Advanced SQL Analysis with Chinook
*Focus: Window Functions · Aggregate Filtering (HAVING) · Business Insights*

**Project context:** Uncovering trends and performance metrics to inform marketing and catalog decisions. The Chinook database contains data on customers, invoices, tracks, albums, artists, and genres. 

**1. Who are our top customers based on total purchases, and how do they compare to the average customer?**

In [3]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Connect to the database
conn = sqlite3.connect('Chinook.sqlite')

ModuleNotFoundError: No module named 'seaborn'